@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700");

html, body {
	height:100%;
	}

body {
	margin:0;
	font-size:.875em;
	line-height:1.8;
	color:#666;
	font-weight:300;
	font-family: 'Open Sans', sans-serif;
	}

ol,ul {
	padding:0;
	list-style:none;
	}

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	}

*:focus,
*:active,
*:visited {
	outline:none;
	}

img {
	vertical-align:middle;
	max-width:100%;
	}

.img-full-width {
	max-width:none;
	width:100%;
	}

strong {
	font-weight:700;
	}

.uppercase {
	text-transform:uppercase;
	}

.pull-right {float:right;}
.pull-left {float:left;}

.text-center {text-align:center;}
.text-right {text-align:right;}
.text-left {text-align:left !important;}


h1,h2,h3,h4,h5,h6 {
	line-height:1.3;
	font-weight:300;
	}

h1 {font-size:3.2em;}
h2 {font-size:2.7em;}
h3 {font-size:2.2em;}
h4 {font-size:1.7em;}
h5 {font-size:1.2em;}
h6 {font-size:.8em;}

small {
	font-size:75%;
	}

a {
	color:#2c95ff;
	text-decoration:none;
	}

a:hover {
	text-decoration:underline;
	}

.unreline-link {
	text-decoration:underline;
	}

.underline-link:hover {
	text-decoration:none;
	}

.inherit-link {
	color:inherit;
	}

.red-link {
	color:#d60100;
	}

.muted {
	opacity:.5;
	}

.margin-b, .group, p, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin:0 0 30px;
	}

.margin-b-l {
	margin-bottom:60px;
	}

.margin-b-s {
	margin-bottom:10px;
	}
	
.margin-t-l {
	margin-top:60px;
	}

.margin-t-s {
	margin-top:10px;
	}	

.margin-b-n {
	margin:0;
	}

.group * {
	margin:0;
	}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.wrapper {
	padding-left:30px;
	padding-right:30px;
	}

.row {
	margin-left:-15px;
	margin-right:-15px;
	}

.row:before,
.row:after {
	display: table;
	content: " ";
	clear:both;
	}

.glued-row {
	margin-left:0;
	margin-right:0;
	}

.glued-row>[class*="col"]{
	padding:0;
	}

[class*="col"] {
	float:left;
	padding:0 15px;
	min-height:1px;
	}

.col1 {width:8.333%;}
.col2 {width:16.666%;}
.col3 {width:25%;}
.col4 {width:33.333%;}
.col5 {width:41.666%;}
.col6 {width:50%;}
.col7 {width:58.333%;}
.col8 {width:66.666%;}
.col9 {width:75%;}
.col10 {width:83.333%;}
.col11 {width:91.666%;}
.col12 {width:100%;}

.nav-btn {
	cursor:pointer;
	z-index:50;
	position:absolute;
	top:5px;
	border:none;
	background:none;
	height:40px;
	width:40px;
	padding:0;
	line-height:1;
	}

.left-panel-btn {
	left:10px;
	}

.right-panel-btn {
	display:inline-block;
	position:absolute;
	top:10px;
	right:20px;
	color:#fff;
	font-size:.857em;
	text-transform:uppercase;
	padding:8px 10px;
	line-height:1;
	cursor:pointer;
	border:1px solid #596e80;
	border-radius:4px;
	}

.nav-btn span {
	background:#596e80;
	height:2px;
	margin-top:-1px;
	width:20px;
	position:absolute;
	top:50%;
	left:10px;
	-webkit-transition:all ease .3s;
	-moz-transition:all ease .3s;
	transition:all ease .3s;
	}

.nav-btn span:first-child {
	top:13px;
	margin-top:0;
	}

.nav-btn span:last-child {
	top:25px;
	margin-top:0;
	}

.nav-btn.active span {
	opacity:0;
	}
	
.nav-btn.active span:first-child,
.nav-btn.active span:last-child {
	opacity:1;
	top:19px;
	}
	
.nav-btn.active span:last-child {
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	}

.nav-btn.active span:first-child {
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	}

.hide-section {
	display:none;
	}

.steps {
	overflow:hidden; 
	position:relative;
	}
	
.steps:before {
	content:'';
	background:#2c95ff;
	height:2px;
	margin-top:-1px;
	width:100%;
	position:absolute;
	top:50%;
	left:0;
	}
	
.steps li {
	float:left;
	width:33.33%;
	text-align:center;
	line-height:1;
	position:relative;
	z-index:1;
	}

.steps li:first-child {
	text-align:left;
	}

.steps li:last-child {
	text-align:right;
	}

.steps li span {
	line-height:1;
	display:inline-block;
	height:20px;
	width:20px;
	border-radius:100%;
	text-align:center;
	border:2px solid #2c95ff;
	background:#fff;
	}

.steps .current span {
	background:#2c95ff;
	}

.steps a {
	line-height:1;
	display:inline-block;
	}

.steps li .fa {
	line-height:16px;
	font-size:.6em;
	color:#2c95ff;
	display:none;
	}

.steps .done .fa {
	display:inherit;
	}

.red {
	color:#d60100;
	}

.label-block {
	margin-bottom:20px;
	overflow:hidden;
	display:block;
	}

.label-block .left {
	float:left;
	padding-top:12px;
	}

.label-block .right {
	margin-left:180px;
	}

.field {
	display:block;
	width:100%;
	height:50px;
	line-height:50px;
	padding:0 15px;
	border:1px solid #ddd;
	border-radius:4px;
	font-family:inherit;
	font-size:inherit;
	-webkit-transition:border-color .3s ease;
	-moz-transition:border-color .3s ease;
	transition:border-color .3s ease;
	}

textarea.field {
	padding:15px;
	height:auto;
	max-width:100%;
	line-height:1.8;
	}

.field:focus {
	border-color:#2c95ff;
	}
	
.btn {
	display:inline-block;
	line-height:1;
	padding:16px 30px;
	background:#666666;
	color:#fff;
	font-weight:700;
	cursor:pointer;
	border:none;
	font-family:inherit;
	font-size:inherit;
	
	border-radius:4px;
	
	border-bottom-width:4px;
	border-bottom-style:solid;
	border-bottom-color:#333;
	
	position:relative;
	}

.btn:active {
	margin-top:1px;
	bottom:-1px;
	border-bottom-width:3px;
	}

.btn:hover {
	text-decoration:none;
	}
	
.btn-block {
	width:100%;
	text-align:center;
	}

.btn-blue {
	background:#2c95ff;
	border-bottom-color:#1f52b2;
	}

.btn-blue:hover {
	background:#2989eb;
	}

.btn-gray {
	color:#666;
	background:#f2f2f2;
	border-bottom-color:#bbb;
	}

.btn-gray:hover {
	background:#ebebeb;
	}
	
.btn-flat {
	border-radius:0;
	border-bottom:none;
	padding-top:18px;
	padding-bottom:18px;
	}

.btn-flat:active {
	margin-top:0;
	bottom:0;
	}

.card {
	border-radius:4px;
	padding:30px;
	margin-bottom:30px;
	}

.card.gray {
	background:#f2f2f2;
	}

.card.white {
	background:#fff;
	}

.field.large {
	padding:0 30px;
	height:90px;
	font-size:1.2em;
	}

.field[readonly]{
	background:#f2f2f2;
	border:none;
	}

.readonly {
	position:relative;
	}

.readonly .field {
	padding-right:100px;
	}

.readonly .edit {
	position:absolute;
	top:34px;
	right:30px;
	} 

main {
	padding-top:50px;
	margin:0 250px;
	background:#f2f2f2;
	height:100%;
	overflow:hidden;
	}

main .center-panel {
	height:100%;
	}

.left-panel {
	position:fixed;
	top:50px;
	left:0;
	height:calc(100% - 50px);
	width:250px;
	background:#27425a;
	z-index:20;
	}

.logo {
	position:fixed;
	top:0;
	left:0;
	padding:5px 30px;
	z-index:4;
	width:250px;
	background:#27425a;
	}

.left-panel .title {
	padding:40px 30px;
	color:#fff;
	margin:0;
	}

.pos-rel {
	position:relative;
	}

.floating-btn {
	display:inline-block;
	background:#2c95ff;
	color:#fff;
	line-height:50px;
	width:50px;
	height:50px;
	text-align:center;
	border-radius:100%;
	font-size:1.7em;
	font-weight:700;
	position:absolute;
	top:26px;
	right:30px;
	}

.search-bar-wrap {
	position:fixed;
	top:0;
	left:0;
	padding:0 250px;
	width:100%;
	}

.search-bar {
	position:relative;
	box-shadow:0 10px 20px rgba(0,0,0,.08);
	}

.search-bar .field {
	width:100%;
	border:none;
	line-height:50px;
	height:50px;
	padding:0 50px 0 30px;
	border-radius:0;
	}

.search-bar .label-submit-btn {
	position:absolute;
	top:0;
	right:0;
	height:100%;
	width:50px;
	cursor:pointer;
	line-height:50px;
	text-align:center;
	font-size:1.2em;
	opacity:.5;
	}

.search-bar .label-submit-btn:hover {
	opacity:1;
	}
	
.search-bar #submit-btn {
	display:none;
	}

.user-area {
	position:fixed;
	top:0;
	right:0;
	width:250px;
	cursor:pointer;
	}

.user {
	padding:0 50px 0 85px;
	line-height:50px;
	height:50px;
	background:#e0efff;
	white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
	position:relative;
	z-index:1;
	}

.user:before {
	content:"\f078";
	font-family:FontAwesome;
	opacity:.5;
	font-size:.8em;
	position:absolute;
	top:0;
	right:30px;
	line-height:50px;
	}

.user:hover {
	background:#d5e9ff;
	}

.user .user-photo {
	position:absolute;
	top:5px;
	left:30px;
	height:40px;
	width:40px;
	border-radius:100%;
	overflow:hidden;
	display:inline-block;
	}

.user .user-photo img {
	display:block;
	}

.user-menu {
	background:#27425a;
	padding:10px 0;
	margin:0;
	position:relative;
	}

.user-menu:before {
	content:'';
	position:absolute;
	z-index:2;
	top:-5px;
	left:43px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7px 7px 7px;
	border-color: transparent transparent #27425a transparent;
	}

.user-menu .divider {
	height:1px;
	background:rgba(255,255,255,.1);
	margin:5px 0;
	}

.main-nav li a,
.user-menu li a {
	display:block;
	padding:10px 30px;
	color:#7a93ab;
	white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
	}

.main-nav li a:hover,
.user-menu li a:hover {
	text-decoration:none;
	color:#fff;
	}
	
.main-nav .current a,
.user-menu .current a  {
	color:#fff;
	background:#304c69;
	position:relative;
	}
	
.main-nav .current a:after {
	content:"\f054";
	font-family:FontAwesome;
	position:absolute;
	top:16px;
	right:30px;
	font-size:.6em;
	}
	
.user-menu .check a:before {
	font-family:FontAwesome;
	content:"\f00c";
	position:absolute;
	top:16px;
	left:12px;
	font-size:.6em;
	}

.floating-btn:hover {
	text-decoration:none;
	background:#2989eb;
	}

.right-panel {
	position:fixed;
	top:50px;
	right:0;
	height:calc(100% - 50px);
	width:250px;
	background:#fff;
	z-index:19;
	}

.btn-with-icon {
	position:relative;
	padding-left:65px;
	}

.btn-with-icon .fa{
	position:absolute;
	top:16px;
	left:30px;
	font-size:1.3em;
	}

.right-panel .wrap {
	padding:0 30px;
	}

.field.minimal {
	border-left:none;
	border-top:none;
	border-right:none;
	border-radius:0;
	padding:0;
	font-size:.857em;
	height:40px;
	line-height:40px;
	}

.tags-wrap {
	border:1px solid #ddd;
	border-radius:4px;
	padding:10px 7px 0;
	}

.tag {
	display:inline-block;
	background:#f2f2f2;
	border-radius:2px;
	padding:3px 30px 3px 10px;
	font-size:.857em;
	margin:0 3px;
	cursor:pointer;
	position:relative;
	margin-bottom:10px;
	}

.tag:hover {
	background:#ebebeb;
	}

.tag .delete {
	position:absolute;
	height:100%;
	width:20px;
	top:0;
	right:0;
	line-height:27px;
	opacity:.5;
	}

.tag .delete:hover {
	opacity:1;
	}
	
select:before {
	content:'2';
	}

.field-with-icon {
	position:relative;
	}

.field-with-icon .field {
	padding-left:25px;
	}

.field-with-icon .fa {
	position:absolute;
	top:13px;
	left:0;
	}
	
.range {
	width:100%;
	margin:0;
	}

.page-head {
	z-index:1;
	top:50px;
	left:0;
	width:100%;
	padding:30px 0 0;
	background:#304c69;
	border-bottom:10px solid #fff;
	}

.page-head .wrap {
	padding:0 250px;
	}

.page-head .title {
	color:#fff;
	}

.lead-nav {
	margin:0;
	}

.lead-nav li {
	display:inline-block;
	margin-right:10px;
	}

.lead-nav li a {
	font-weight:700;
	display:block;
	padding:8px 18px;
	color:#fff;
	border-radius:4px 4px 0 0;
	}

.lead-nav li a:hover {
	background:#27425a;
	text-decoration:none;
	}

.lead-nav .current a {
	background:#fff !important;
	color:#d60100;
	}

.filter-box {
	padding-top:10px;
	padding-left:100px !important;
	background:#fff;
	position:relative;
	}

.filter-box .filter-title {
	position:absolute;
	top:10px;
	left:30px;
	}

.filter {
	margin:0;
	}

.filter li {
	display:inline-block;
	margin-right:10px;
	}

.filter li a {
	color:#999;
	font-size:.875em;
	display:block;
	font-weight:700;
	padding:2px 10px;
	border-radius:4px;
	}

.filter li a:hover {
	text-decoration:none;
	color:#d60100;
	}

.filter .selected a {
	background:#d60100;
	color:#fff !important;
	}

.tinynav {
	display:none;
	}

.feed-section {
	padding-top:30px;
	padding-bottom:230px;
	}

.limit-width {
	max-width:700px;
	}

.feed-section .item {
	position:relative;
	}

.feed-section .item .title {
	display:block;
	position:relative;
	padding-left:35px;
	margin-bottom:10px;
	line-height:1.2;
	}

.feed-section .item .title .fa {
	position:absolute;
	top:-7px;
	left:0;
	}

.feed-section .item .time {
	padding-left:35px;
	margin:0;
	line-height:1.2;
	}

.action-dropdown {
	position:absolute;
	top:12px;
	right:15px
	}
	
.action-btn {
	width:40px;
	height:40px;
	line-height:40px !important;
	text-align:center;
	cursor:pointer;
	opacity:.5;
	}

.action-btn:hover {
	opacity:1;
	}

.dropdown {
	border-radius:4px;
	padding:20px 25px 15px 25px;
	background:#fff;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	margin:0;
	}

.dropdown:before {
	content: '';
    position: absolute;
    z-index: 2;
    top: -5px;
    right: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #fff transparent;
	}

.dropdown li {
	display:block;
	margin-bottom:5px;
	}

.dropdown a {
	display:block;
	color:#666;
	}

.dropdown-panel {
  display: none;
}

.action-dropdown .dropdown-panel {
	position:absolute;
	top:40px;
	right:0;
	}

.form-box {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	padding:0 280px;
	}
	
.form-box form {
	border-radius:4px 4px 0 0;
	overflow:hidden;
	background:#fff;
	}	

.form-box .categorie-wrap {
	background:#e6e6e6;
	color:#999;
	font-weight:700;
	padding:5px 5px 0 5px;
	overflow:hidden;
	}

.categorie-btn {
	cursor:pointer;
	display:inline-block;
	float:left;
	}

.categorie-btn .input-content {
	padding:12px 25px;
	border-radius:4px 4px 0 0;
	
	white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
	}

.categorie-btn .input {
	display:none;
	}

.categorie-btn .input:checked+.input-content {
	background:#fff;
	color:#d60100;
	}

.form-box .wrap {
	padding:30px;
	}

#input-file {
	display:none;
	}

.fake-btn {
	cursor:pointer;
	opacity:.5;
	}

.fake-btn:hover {
	opacity:1;
	}

.pointer {
	cursor:pointer;
	}

.attached-item {
	display:inline-block;
	margin:0 10px 10px 0;
	display: inline-block;
    background: #f2f2f2;
    border-radius: 2px;
    padding: 3px 30px 3px 10px;
    font-size: .857em;
    margin: 0 3px;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
	}

.form-box .bottom {
	background:#fff;
	padding:20px 130px 20px 150px;
	position:relative;
	min-height:80px;
	}

.form-box .bottom .btn {
	position:absolute;
	top:15px;
	right:30px;
	height:50px;
	}

.form-box .bottom .btn:active {
	bottom:0; 
	margin-top:1px;
	top:16px;
	}

.form-box .bottom .tag {
	margin-top:5px;
	margin-bottom:5px;
	}

.attach-btn {
	position:absolute;
	top:26px;
	left:30px;
	}

.form-box .field {
	border-top:none;
	border-left:none;
	border-right:none;
	height:60px;
	line-height:1.5;
	padding:20px 30px;
	border-radius:0;
	max-height:100px !important;
	}

.form-box .field:focus {
	border-color:#d60100;
	}

@media (max-width:1300px){
	main {
		margin:0 200px;
		}
	
	.left-panel,
	.right-panel,
	.logo,
	.user-area {
		width:200px;
		}
	
	.search-bar-wrap {
		padding:0 200px;
		}
	
	.form-box {
		padding:0 230px;
		}
	
	.lead-nav li {
		margin-right:0;
		}
	
	.lead-nav li a {
		font-size:.857em;
		padding:8px 15px;
		}
	
	.filter li {
		margin:0;
		}
	
	.filter li a {
		padding:1px 7px;
		}
	
	.row-block-tablet [class*="col"] {
		width:100%;
		float:none;
		}
	
	.feed-section .item .title {
		margin:0;
		}
	
	.feed-section .item .title .fa {
		top:-2px;
		}
	
	.feed-section .item .time {
		margin-bottom:30px;
		}
	
	.categorie-btn .input-content {
		padding:10px 15px;
		font-size:.857em;
		}
		
	}


@media(min-width:1021px){
	.nav-btn,
	.right-panel-btn {
		display:none;
		}
	}

@media (max-width:1020px){
	
	.wrapper {
		padding-left:20px;
		padding-right:20px;
		}
	
	[class*="col"] {
		width:100%;
		float:none;
		}
	
	.fixed-row [class*="col"] {
		float:left;
		}
	
	.fixed-row .col1 {width:8.333%;}
	.fixed-row .col2 {width:16.666%;}
	.fixed-row .col3 {width:25%;}
	.fixed-row .col4 {width:33.333%;}
	.fixed-row .col5 {width:41.666%;}
	.fixed-row .col6 {width:50%;}
	.fixed-row .col7 {width:58.333%;}
	.fixed-row .col8 {width:66.666%;}
	.fixed-row .col9 {width:75%;}
	.fixed-row .col10 {width:83.333%;}
	.fixed-row .col11 {width:91.666%;}
	.fixed-row .col12 {width:100%;}
	
	.mobile-text-center {text-align:center;}
	.mobile-text-right {text-align:right;}
	.mobile-text-left {text-align:left;}
	
	.steps .container {
		padding:0;
		}
	
	.label-block .left {
		float:none;
		margin-bottom:5px;
		}
		
	.label-block .right {
		margin-left:0;
		}
	
	.field.large {
		font-size:1em;
		}
	
	.margin-b-l {
		margin-bottom:50px;
		}
	
	.left-panel {
		left:-80%;
		width:80%;
		-webkit-transition:left .3s ease;
		-moz-transition:left .3s ease;
		transition:left .3s ease;
		}
	
	.left-panel.visible {
		left:0;
		}
	
	.right-panel {
		width:80%;
		right:-80%;
		-webkit-transition:right .3s ease;
		-moz-transition:right .3s ease;
		transition:right .3s ease;
		}
	
	.right-panel.visible {
		right:0;
		}
	
	main {
		margin:0;
		}
	
	.top-panel {
		position:fixed;
		z-index:100;
		top:0;
		left:0;
		width:100%;
		background:#27425a;
		height:50px;
		}
	
	.logo {
		display:inline-block;
		width:auto;
		background:none;
		position:relative;
		top:7px;
		left:55px;
		height:30px;
		padding:0;
		}
	
	.logo img {
		height:100%;
		}
	
	.search-bar-wrap,
	.user-area{
		position:static;
		}
		
	.search-bar-wrap {
		padding:0;
		}
	
	.user-area {
		width:auto;
		}
	
	.form-box {
		padding:0 20px;
		}
	
	.feed-section {
		padding-top:20px;
		}
	
	.page-head .title {
		padding:
		}
		
	.blackout {
		display:none;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(0,0,0,.5);
		z-index:5;
		}
	
	.filter-box .filter-title {
		left:20px;
		}
	
	.filter-box {
		padding-left:80px !important;
		}
	
	.form-box .field {
		padding:20px;
		}
	
	.form-box .bottom {
		padding:20px 130px 20px 150px;
		}
	
	.form-box .bottom .btn {
		right:20px;
		background: #2c95ff;
    	border-bottom-color: #1f52b2;
		color:#fff;
		}
	
	.attach-btn {
		left:20px;
		}
	}

@media(min-width:768px){
	.form-btn {
		display:none;
		}
	}

@media (max-width:767px){
	
	.lead-nav {
		margin-bottom:10px;
		}
	
	.lead-nav li {
		display:block;
		margin:0 -10px;
		}
	
	.lead-nav li a {
		padding:8px 10px;
		border-radius:4px;
		}
	
	.filter {
		display:none;
		}
	
	.tinynav {
		display:block;
		border:none;
		font-size:inherit;
		font-family:inherit;
		width:100%;
		line-height:1;
		padding:2px 0;
		}
		
	.card {
		padding:20px;
		margin-bottom:30px;
		}
	
	.feed-section .item .time {
		margin-bottom:20px;
		}
	
	.action-dropdown {
		top:5px;
		right:10px;
		}
	
	.form-box {
		padding:0;
		bottom:auto;
		top:100%;
		overflow:auto;
		height:100%;
		}
	
	.form-box.visible {
		top:50px;
		height:100%;
		background:#fff;
		}
	
	.form-box .bottom {
		padding:20px 20px 20px 150px;
		}
	
	.form-box .bottom .btn {
		position:fixed;
		width:40%;
		right:20px;
		top:auto;
		bottom:10px;
		z-index:3;
		}
	
	.form-box .bottom .btn:active {
		top:auto;
		bottom:9px;
		}
	
	.form-box .field {
		max-height:none !important;
		height:150px;
		}
		
	.categorie-wrap {
		overflow:hidden;
		}
	
	.categorie-btn {
		text-align:center;
		font-size:.8em;
		}
	
	.categorie-btn .fa {
		display:block;
		font-size:1.6em;
		}
	
	.form-btn {
		position:fixed;
		bottom:0;
		width:100%;
		left:0;
		z-index:4;
		padding:10px 20px;
		}
	
	.form-btn .btn {
		width:auto;
		display:block;
		padding-left:10px;
		padding-right:10px;
		}
	
	.form-btn .btn:before {
		content:'+ Write';
		}
	
	.form-btn.active {
		width:47%;
		}
	
	.form-btn.active .btn {    
		color: #666;
		background: #f2f2f2;
		border-bottom-color: #bbb;
		}
	
	.form-btn.active .btn:before {
		content:'Cancel';
		}
	
	
	.feed-section {
		padding-bottom:60px;
		}
	
	}

@media (max-width:480px){
	.attach-btn {
		position:static;
		display:block;
		}
	
	.form-box .bottom {
		padding:20px 20px 150px;
		min-height:auto;
		}
	
	.categorie-btn .input-content {
		padding:5px 10px;
		}
	}